[Desktop Entry]
Version=1.0
Name=QuickRoute
Comment=Orienteering GPS track analisys tool.
Exec=/usr/bin/quickroute-gps
Icon=/usr/share/pixmaps/quickroute-gps.xpm
Categories=Education;Science;Geoscience;
StartupNotify=false
Terminal=false
Type=Application
